.footer {
  padding: 25px 70px;
  background-color: $white;
  color: $black;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  z-index: 9999;
}

.straw {
  margin: 0;
}

.text-footer {
  color: $gray;
  font-family: $font-primary;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  font-size: 14px;
  white-space: nowrap;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  transition: all 0.3s ease;
  color: $gray;
  font-size: 22px;
  background: transparent;
  width: 40px;
}

.icon a:hover {
  color: $accent;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .text-footer {
    font-size: 12px;
  }

  .footer {
    padding: 18px 20px;
  }
}
