.icon-bar {
  position: fixed;
  bottom: 15px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: bottom 0.15s ease-out;
}

.icon-bar a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  transition: all 0.3s ease;
  color: $black;
  font-size: 22px;
  background: transparent;
  height: 40px;
}

.icon-bar a:hover {
  color: $accent;
  background-color: transparent;
}

/* Modification pour la ligne verticale centrée */
.icon-bar::after {
  content: "";
  height: 120px;
  width: 2px;
  background-color: $black;
  margin-top: 15px;
}

.content {
  margin-left: 100px;
  font-size: 30px;
}
