.main-text {
  font-family: $font-1;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  display: inline;
  height: auto;
  letter-spacing: normal;
  line-height: 76.5px;
  max-width: 85rem;
  margin: auto;
}

.memoji {
  width: 250px;
  height: auto;
  object-fit: contain;
  padding-bottom: 35px;
}

.Highlight {
  color: #f68886;
}

#home {
  min-height: 100vh;
}

#projects {
  padding: 50px 0;
  padding-left: 100px;
  padding-right: 100px;
}

/* TYPING EFFECT */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

#typing-effect {
  font-family: $font-1;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid black; /* Le curseur simulé */
  animation: blink-caret 1s step-end infinite;
}

/* END TYPING EFFECT */
