.dark-mode {
  background-color: $dark-bg;
  color: $white;
}

.dark-mode .icon-bar::after {
  background-color: $white;
}

.dark-mode .icon-bar a {
  color: $white;
}

.dark-mode .shadow {
  box-shadow: 0 2px 4px rgba(65, 64, 64, 0.1) !important;
}

.dark-mode .navigation {
  background-color: $dark-bg;
}

.dark-mode .navigation-logo {
  color: $white;
}

.dark-mode .footer {
  background-color: $dark-bg;
  box-shadow: 0 -2px 4px rgba(65, 64, 64, 0.1);
}

.dark-mode #typing-effect {
  border-right: 0.1em solid $white;
}

.dark-mode .puce {
  color: $white;
}

.dark-mode .github-bis {
  color: $white;
}

.dark-mode .text-pre {
  color: $white;
}

.dark-mode .title-text-pre {
  color: $gray;
}
