@font-face {
  font-family: "font-primary";
  src: url(../assets/fonts/EuropaRegular.ttf);
}

@font-face {
  font-family: "font-code";
  src: url(../assets/fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: "font-light";
  src: url(../assets/fonts/europa-light-webfont.ttf);
}

$font-primary: "font-primary", sans-serif;
$font-code: "font-code", sans-serif;
$font-light: "font-light", sans-serif;

$black: #000000;
$gray: #b3b3b3;
$white: #ffffff;
$accent: #f68886;
$dark-bg: #121212;
$card-bg: rgb(23, 42, 69);
$cyan: rgb(0, 202, 249);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-primary;
  position: relative;
}
li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}
