@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/EuropaRegular.ttf);
}

$font-1: "font-1", sans-serif;

$black: #000000;
$gray:  #b3b3b3;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
}
li {
  list-style-type: none;
}
