@import "./settings";
@import "./darkmode";
@import "./components/navigation";
@import "./components/projects";
@import "./components/about";
@import "./components/contact";
@import "./components/home";
@import "./components/SocialMediaBar";
@import "./components/ProjectButton";
@import "./components/footer";
@import "./pages/projectsPages";
@import "./pages/index";
